/* Navigation Bar at the top */
body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

/* LEFT COLUMN  */
.navigation-wrapper {
    display: flex;
    align-items: center;
    background-color: black;
    padding: 10px;
}

.navigation-wrapper > .left-column-image {
    flex: 1;
    background-color: black;
}

.navigation-wrapper > .left-column-image > .banner-image img {
    height: 75px;
    padding: 10px;
}





/* CENTER COLUMN  */
.navigation-wrapper > .nav-center-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    font-weight: 600; 
}

.navigation-wrapper > .nav-center-column .nav-column1 {
    border-color: black;
    background-color: black;
}

.navigation-wrapper > .nav-center-column .nav-column1 a {
    color: yellow;
    padding: 5px;
}

.navigation-wrapper > .nav-center-column .nav-column2 a.nav-column1:hover {
    background-color: gray;
    color: white;
    padding: 5px;
}

.navigation-wrapper > .nav-center-column .nav-column2 {
    display: flex;
    padding: 5px;
    border-color: black;
    background-color: black;
}

.navigation-wrapper > .nav-center-column .nav-column2 a {
    margin-right: 10px;
}

.navigation-wrapper > .nav-center-column a, .nav-right-column a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin: 0 15px;
    padding: 5px;
}

.navigation-wrapper > .nav-center-column a:hover {
    background-color: gray;
    color: white;
    padding: 5px;
    border-radius: 3px;
}

.navigation-wrapper > .nav-right-column {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navigation-wrapper > .nav-center-column .nav-column2 a.nav-column2-spark {
    font-size: 1.5em; 
    font-weight: 900;
    margin-left: 30px;
    color: grey;
}

.navigation-wrapper > .nav-center-column .nav-column2 a.nav-column2-spark:hover {
    background-color: gray;
    color: white;
    padding: 5px;
    border-radius: 3px;

}






/* RIGHT COLUMN  */
.nav-create-link, .nav-login-link, .nav-signup-link {
    color: white;
    text-decoration: none;
    background-color: gray;
    border-radius: 3px;
    font-size: 20px;
    margin: 0 15px;
}

.navigation-wrapper > .nav-right-column a:hover {
    color: white;
    background-color: black;
    border-radius: 3px;
    border-color: solid greenyellow;
    margin: 0 15px;
}

.navigation-wrapper > .nav-right-column .chevron-icon {
    color: green;
}

.navigation-wrapper > .nav-right-column .search-icon {
    font-size: 2em;
    background-color: transparent;
    padding: 10px;
   
}

.navigation-wrapper > .nav-right-column .search-icon:hover {
    font-size: 2em;
    background-color: yellow;
    color: black;
    padding: 10px;
    border-radius: 5px;
}








